body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100dvh;
}

#titulo{
    text-align: center;
    margin: 2dvh 0 0 0;
    position: absolute;
    top: 0;
}

#fillpoly{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 80dvw;
    height: 500px;
    margin: 0;
}

#tela{
    width: 70%;
    height: 500px;
    border: solid 2px black;
}

#paletas{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 500px;
    border: solid 2px black;
}

.cor{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.showCor{
    text-align: center;
    border: solid 1px black;
}

#lista{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 100%;
}

#paletas p{
    text-align: center;
}

.choo{
    width: 100%;
}
